<% if (site.posts.length > 0) { %>
  <div class="recent-posts">
    <% site.posts.sort('date', -1).limit(10).each(function(post) { %>
      <div class="post-item">
        <h1 class="post-item__title gamma"><%=post.title%></h1>
        <% if (post.date) { %>
          <time class="post-item__subtitle" datetime="<%=post.date.toJSON()%>">
            <%=date(post.date)%>
          </time>
        <% } %>
      </div>
      <div class="post-item__excerpt">
        <p><%- strip_html(post.excerpt) %></p>
      </div>
      <div>
        <p><a href="<%- config.root %><%- post.path %>">
          <%= theme.excerpt_link %>
        </a></p>
      </div>
    <% }); %>
  </div>
<% } %>
