
<%
var categoriesList = list_categories({ show_count: false }),
  tagsList = list_tags({ show_count: false }),
  archivesList = list_archives({ show_count: false });
%>

<% if (!is_year()) { %>
  <div id="archive">

    <h1>Archives</h1>

    <aside>
      <% if (archivesList) { %>
        <%-archivesList%>
      <% } else { %>
        <p>None.</p>
      <% } %>
    </aside>

  </div>
<% } else { %>

  <h1><%=page.month + '/' + page.year%></h1>

  <% page.posts.each(function(article) { %>
    <div class="post-item">
      <% if (article.link) { %>
        <!-- external link -->
        <a class="post-item__title" href="<%=url_for(article.link)%>" target="_blank">
          <%=article.title || 'No Title'%>
        </a>
      <% } else { %>
        <!-- internal link -->
        <a href="<%=url_for(article.path)%>">
          <%=article.title || 'No Title'%>
        </a>
      <% } %>
      <time class="post-item__subtitle" datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
    </div>
  <% }); %>

<% } %>
